<%= form_with model: pizza do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
      <% pizza.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :unitPrice %><br>
      <%= form.text_field :unitPrice %>
      <% pizza.errors.full_messages_for(:unitPrice).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <h2>Ingrdients</h2>
    <div class="field">
      <%= form.label :ingredient_ids, "Ingredients" %>
      <%= form.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>